<div class="container">
  <div class="row">
    <div class="col-md-5">
      <br />
      <h1 class="text-right"><%= @team.name %></h1>
      <h2 class="text-right"><%= @team.tag %></h2>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-6 well well-lg">
      <br />
      <div class="row">
        <div class="col-md-6 text-left">
          <p>Leader</p>
          <p>Game</p>
          <p>League and level</p>
          <p>Location</p>
        </div>
        <div class="col-md-6 text-right">
          <p><%= link_to @team.user.nick, @team.user %></p>
          <p><%= @team.game_type %></p>
          <p><%= @team.league_level %></p>
          <p><%= @team.location %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row well well-lg">
    <div class="col-md-4">
      <p class="text-right">Scout:   <%= @team.scout    %></p>
      <p class="text-right">Demoman: <%= @team.demoman  %></p>
      <p class="text-right">Medic:   <%= @team.medic    %></p>
    </div>
    <div class="col-md-4">
      <p class="text-right">Soldier:   <%= @team.soldier  %></p>
      <p class="text-right">Heavy:     <%= @team.heavy    %></p>
      <p class="text-right">Sniper:    <%= @team.sniper   %></p>
    </div>
    <div class="col-md-4">
      <p class="text-right">Pyro:      <%= @team.pyro     %></p>
      <p class="text-right">Engineer:  <%= @team.engineer %></p>
      <p class="text-right">Spy:       <%= @team.spy      %></p>
    </div>
  </div>
</div>
<hr />
<% if current_user.id == Team.find(params[:id]).user_id %>

  <br />
  <div class="text-center">
    <%= link_to raw('<i class="glyphicon glyphicon-pencil"></i> edit'), edit_team_path(@team), :class => 'btn-lg btn-special' %>
    <%= link_to raw('<i class="glyphicon glyphicon-trash"></i> delete'), team_path(@team), :class => 'btn-lg btn-special', :method => :delete %>
  </div>
  <br />
<% end %>
