<h1>Teams#show</h1>
<br />
<%= @team.name %>
<%= @team.tag.nil? ? "" : " | " + @team.tag %><br />
<%= link_to User.find(@team.user_id).nick, user_path(User.find(@team.user_id)) %><br />
<%= @team.league_level %> | <%= @team.location %><br />
<p>Scout:     <%= @team.scout    %></p>
<p>Soldier:   <%= @team.soldier  %></p>
<p>Pyro:      <%= @team.pyro     %></p>
<p>Demoman:   <%= @team.demoman  %></p>
<p>Heavy:     <%= @team.heavy    %></p>
<p>Engineer:  <%= @team.engineer %></p>
<p>Medic:     <%= @team.medic    %></p>
<p>Sniper:    <%= @team.sniper   %></p>
<p>Spy:       <%= @team.spy      %></p>
