<%= form_for(@user) do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(form.object.errors.count, "error") %>.
      </div>
      <ul>
      <% form.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-forms text-center">
    <div><%= form.label :location, "Location" %><br />
      <%= form.select :location, options_for_select(%w[NA EU]), :include_blank => true %></div>
    <br />
    <%= form.submit "update profile", :class => "btn-lg btn-special" %>
  </div>
  <br />
<% end %>
