<p>Stars indicate necessary fields.</p>
<%= form_for(@player) do |form| %>
  <% if form.object.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
        The form contains <%= pluralize(form.object.errors.count, "error") %>.
      </div>
      <ul>
      <% form.object.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= form.label :game_type, "*Game type" %><br />
    <%= form.select :game_type, options_for_select(%w[6v6 highlander]), include_blank: true %></div>

  <div><%= form.label :league_level, "*League and level" %><br />
    <%= form.select :league_level, options_for_select(["UGC Iron", "UGC Steel", "UGC Silver", "UGC Gold", "UGC Platinum", "ESEA Open", "ESEA Invite", "ETF2L Div6", "ETF2L Div5", "ETF2L Div4", "ETF2L Div3", "ETF2L Div2", "ETF2L Div1"]), include_blank: true %></div>

  <div><%= form.label :notes, "Extra notes or comments" %><br />
    <%= form.text_area :notes, cols: 70, rows: 10 %></div>

  <div><%= form.label :location, "*Location" %><br />
    <%= form.select :location, options_for_select(["NA", "EU"]) %></div>

  <p>Mark at least one:</p>
  <div><%= form.label :scout, "Scout" %><br />
    <%= form.check_box :scout %></div>
  <div><%= form.label :soldier, "Soldier" %><br />
    <%= form.check_box :soldier %></div>
  <div><%= form.label :pyro, "Pyro" %><br />
    <%= form.check_box :pyro %></div>
  <div><%= form.label :demoman, "Demoman" %><br />
    <%= form.check_box :demoman %></div>
  <div><%= form.label :heavy, "Heavy" %><br />
    <%= form.check_box :heavy %></div>
  <div><%= form.label :engineer, "Engineer" %><br />
    <%= form.check_box :engineer %></div>
  <div><%= form.label :medic, "Medic" %><br />
    <%= form.check_box :medic %></div>
  <div><%= form.label :sniper, "Sniper" %><br />
    <%= form.check_box :sniper %></div>
  <div><%= form.label :spy, "Spy" %><br />
    <%= form.check_box :spy %></div>

  <%= form.submit "Submit player listing" %>
<% end %>
